body {
    background-color: #fafafa;
    color: #1d1f20;
    font-family: "Raleway", sans-serif;
  }
  
  main {
    display: block;
    margin: 0 auto;
    max-width: 40rem;
    padding: 1rem;
  }
  
  ol.task-list > li::before,
  ol.task-list > li {
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
      0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
  }
  
  ol.task-list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
  }
  
  ol.task-list > li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    display: flex;
  }
  
  ol.task-list > li::before,
  ol.task-list > li::after {
    background: linear-gradient(135deg, #fd746c 0%, #ff9068 100%);
    border-radius: 1rem 1rem 0 1rem;
    content: "";
    height: 3rem;
    left: -1rem;
    overflow: hidden;
    position: absolute;
    top: -1rem;
    width: 3rem;
  }
  
  ol.task-list > li::before {
    align-items: flex-end;
    content: counter(gradient-counter);
    color: #1d1f20;
    display: flex;
    font: 900 1.5em/1 "Montserrat";
    justify-content: flex-end;
    padding: 0.125em 0.25em;
    z-index: 1;
  }
  
  .done-btn {
    margin-left: auto;
  }
  
  .task-label {
    text-transform: uppercase;
    margin-left: 10px;
  }